<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment-header :: fm-head"></head>

<head>
    <title>Quản lý đơn đặt hàng</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">
    <header th:replace="fragment-header :: fm-header"></header>
    <aside th:replace="fragment-leftmenu :: fm-leftmenu"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <ul id="tab-status" class="nav nav-tabs" role="tablist"></ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-table1">
                                    <table id="example2" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="checkAll" value="0"></th>
                                            <th>Mã đơn</th>
                                            <th>Số điện thoại</th>
                                            <th>Tên khách hàng</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>Trạng thái</th>
                                            <th>Hình thức</th>
                                            <th>Tổng tiền</th>
                                            <th>Địa chỉ giao hàng</th>
                                            <th>Sửa</th>
                                            <th>In</th>
                                            <th>Xóa</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab-table2">
                                    <table id="myTable2" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="checkAllTab2" value="0"></th>
                                            <th>Mã</th>
                                            <th>SĐT</th>
                                            <th>Tên khách</th>
                                            <th>Ngày đặt</th>
                                            <th>Trạng thái</th>
                                            <th>Hình thức</th>
                                            <th>Tổng tiền</th>
                                            <th>Địa chỉ giao</th>
                                            <th>Sửa</th>
                                            <th>In</th>
                                            <th>Xóa</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab-table3">
                                    <table id="myTable3" class="table table-bordered table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mã</th>
                                            <th>SĐT</th>
                                            <th>Tên khách</th>
                                            <th>Ngày đặt</th>
                                            <th>Trạng thái</th>
                                            <th>Hình thức</th>
                                            <th>Tổng tiền</th>
                                            <th>Địa chỉ giao</th>
                                            <th>Sửa</th>
                                            <th>In</th>
                                            <th>Xóa</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <section class="content">
            <div class="container-fluid" id="formOrderDetail">
            </div>
        </section>
    </div>
</div>

<div th:replace="fragment-modal-order :: fm-modal-order"></div>
<div th:replace="fragment-modal-notification :: fm-modal-notification"></div>
<div th:replace="fragment-header :: fm-script"></div>

<!-- Page specific script -->
<script src="../../js/crud-order.js"></script>

</body>
</html>