<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment-header :: fm-head"></head>

<head><title>Quản lý loại mặt hàng</title></head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <header th:replace="fragment-header :: fm-header"></header>
    <aside th:replace="fragment-leftmenu :: fm-leftmenu"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Tên</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->

<div th:replace="fragment-modal-type-product :: fm-modal-type"></div>
<div th:replace="fragment-modal-product :: fm-modal-upload"></div>
<div th:replace="fragment-modal-notification :: fm-modal-notification"></div>
<div th:replace="fragment-header :: fm-script"></div>
<script src="../../js/crud-type-product.js"></script>
</body>
</html>